*{
	font-family: 'Inter';
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	background: #f3f5fc;
}


header{
	margin-top: 40px;
	margin-left: 40px;
	width: 10%;
	position: fixed;
	background: #f3f5fc;
}

main{
	display: flex;
	margin-bottom: 50px;
	margin-left: 80;
}

.izquierda{
	color: #0A3871;
	text-transform: lowercase;
	position: absolute;
	width: 577px;
	height: 48px;
	margin-left: 240px;
	margin-top: 169px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
}


.texto-input{
	border: none;
	outline: none;
}

::placeholder { color: #0A3871; }
	.texto-input:focus {
		outline: none;
	}


.info{
	margin-top: 150px;
	width: 229px;
	height: 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	flex-grow: 0;
	display: flex;

}

.botones{
	width: 680px;
	height: 67px;
	top: 450px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	position: absolute;
}

.b-enc{
	flex-direction: row;
	color: white;
	width: 328px;
	height: 67px;
	background: #0a3871;
	border-radius: 24px;
	font-size: 16px;
	cursor: pointer;
}

.b-desenc{
	flex-direction: row;
	
	width: 328px;
	height: 67px;
	background: #d8dfe8;
	border-radius: 24px;
	font-size: 16px;
	cursor: pointer;
}

.b-enc:hover{
    transform: scale(1.10);
    transition: 400ms;
}

.b-desenc:hover{
    transform: scale(1.10);
    transition: 400ms;
}

.derecha{
	width: 350px;
	height: 650px;
	position: static;
	margin-top: 40px;
	margin-left:1000px;
	border-radius: 32px;
	position: flex;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	color: #000000 8%;

}


#resultado {
  display: block;
}


.mensaje{
	width: 350px;
	height: 670px;
	position: static;
	background: #ffffff;
	border-radius: 32px;
	padding-top: 32px;
	padding-left: 10px;
	padding-right: 10px;
}

.muneco{
	width: 336px;
	height: 304px;
	top: 150px;
	left:1010px;
	position: absolute;

}

.mensaje-no-encontrado{
	width: 256px;
	height: 58px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: #343a40;
	position: absolute;
	top: 450px;
	left:1050px;
	font-family: 'Inter';
	font-style: normal;
	line-height: 120%;
	flex: none;
}
    
.parrafo{
	width: 310px;
	height: 48px;
	font-size: 16px;
	text-align: center;
	position: absolute;
	top: 520px;
	left:1032px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: #495057;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.texto{
	height: 122px;
	left: 1032px;
	top: 619px;
}

.texto p{
	background: white;
}

.copiar{
	display: none;
	padding: 20px 120px;
	position: absolute;
	width: 280px;
	height: 67px;
	margin-left: 120px;
	margin-top: 402;
	left: 930px;
	top: 620px;
	border: 1px solid #0A3871;
	border-radius: 24px;
	cursor: pointer;
	background: normal;
	font-size: 16px;
}

.copiar:hover{
 	background: #d8dfe8;
    transform: scale(1.10);
    transition: 400ms;
}



footer {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 30px 30px;
}

footer span {
  font-family: 'Calibri', sans-serif;
  font-size: 1.3rem;
}

footer p{
	font-family: 'Inter';
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	background: #f3f5fc;
}

footer span:nth-child(3) {
  color: #111010;
}

footer span:nth-child(4) {
  color: #99948e;
  margin: 0.5rem 0.5rem;
}

.linkedin {
  width: 50px;
  height: 50px;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 20px;
}

.linkedin:hover{
	background: none;
    transform: scale(1.50);
    transition: 400ms;
}

.github {
  width: 50px;
  height: 50px;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 20px;
}

.github:hover{
	background: none;
    transform: scale(1.50);
    transition: 400ms;
}


